<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <!-- @if(options.theme === 'light') {
        <a [routerLink]="['/dashboards/dashboard1']">
          <img
            src="./assets/images/logos/dark-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        } @if(options.theme === 'dark') {
        <a [routerLink]="['/dashboards/dashboard1']">
          <img
            src="./assets/images/logos/light-logo.svg"
            class="align-middle m-2"
            alt="logo"
          />
        </a>
        } -->

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/logos/logo1.png"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h6 class="f-w-500 f-s-24 m-0">Welcome to Welcome to Job Genie</h6>
            <span class="f-s-14 d-block mat-body-1 m-t-8"></span>

        
            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <!-- Name -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Full Name</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="text" formControlName="name" />
                <mat-hint *ngIf="f['name'].touched && f['name'].invalid">
                  <div class="text-error" *ngIf="f['name'].errors?.['required']">Name is required.</div>
                </mat-hint>
              </mat-form-field>
            
              <!-- Email -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="email" formControlName="email" />
                <mat-hint *ngIf="f['email'].touched && f['email'].invalid">
                  <div class="text-error" *ngIf="f['email'].errors?.['required']">Email is required.</div>
                  <div class="text-error" *ngIf="f['email'].errors?.['email']">Invalid email format.</div>
                </mat-hint>
              </mat-form-field>
            
              <!-- Password -->
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="password" />
                <mat-hint *ngIf="f['password'].touched && f['password'].invalid">
                  <div class="text-error" *ngIf="f['password'].errors?.['required']">Password is required.</div>
                  <div class="text-error" *ngIf="f['password'].errors?.['minlength']">
                    Password must be at least 6 characters long.
                  </div>
                </mat-hint>
              </mat-form-field>
            
              <!-- Submit Button -->
              <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid">
                Sign Up
              </button>
            </form>
            
            <span class="d-block f-w-500 d-block m-t-24"
              >Already have an Account?

              <a
                [routerLink]="['/authentication/side-login']"
                class="text-decoration-none text-primary f-w-500 f-s-14"
              >
                Sign In</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
