.btn-custom {
    width: 20%; /* Le bouton prend un tiers de la largeur */
    margin-top: 5px; /* Espacement vertical pour correspondre à m-t-8 */
    margin-bottom: 20px;
    text-align: right; /* Alignement du texte, si nécessaire */
  }
  